# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/vcs.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/sonarlint/issuestore/0/
/sonarlint/issuestore/1/
/sonarlint/issuestore/2/
/sonarlint/issuestore/3/
/sonarlint/issuestore/4/
/sonarlint/issuestore/5/
/sonarlint/issuestore/7/
/sonarlint/issuestore/8/
/sonarlint/issuestore/9/
/sonarlint/issuestore/a/
/sonarlint/issuestore/c/
/sonarlint/issuestore/e/
/sonarlint/issuestore/f/
/sonarlint/securityhotspotstore/0/
/sonarlint/securityhotspotstore/1/
/sonarlint/securityhotspotstore/2/
/sonarlint/securityhotspotstore/3/
/sonarlint/securityhotspotstore/4/
/sonarlint/securityhotspotstore/5/
/sonarlint/securityhotspotstore/7/
/sonarlint/securityhotspotstore/8/
/sonarlint/securityhotspotstore/9/
/sonarlint/securityhotspotstore/a/
/sonarlint/securityhotspotstore/c/
/sonarlint/securityhotspotstore/e/
/sonarlint/securityhotspotstore/f/
